<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>My Node Site</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="css/style.css">  
    <link href="https://fonts.googleapis.com/css?family=Tajawal|Varela+Round|Anton|Work+Sans|Francois+One|Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <!-- <link rel="stylesheet" href="/animate.min.css">   -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <!-- <script src="/views/index.js"></script> -->
  <!-- or -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="icon" href="https://secure.meetupstatic.com/photos/event/e/7/4/9/600_458339209.jpeg">

    <script src="https://use.fontawesome.com/6e377e3f00.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  
    <nav class="navbar navbar-light bg-light" style="top: 0">
        <a href="/" class="navbar-brand">KURTIS ROBERTS</a>
        <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" href="/">HOME |</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/portfolio">PORTFOLIO |</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">CONTACT |</a>
                </li>
                <li class="nav-item node-build">
                  <a class="nav-link disabled" href="#">BUILT WITH NODE</a>
                </li>
              </ul>
    </nav>

<!-- MAIN CONTENT HERE -->
<%- defineContent('hero') -%>




    <footer>
         Kurtis Roberts Copyright &copy; 2018
    </footer>


</body>
</html>