<%- contentFor('hero') %>

      <ul id="nav">
        <li><label for="toggle-card-1">First card</label></li>
        <li><label for="toggle-card-2">Second card</label></li>
        <li><label for="toggle-card-3">Third card</label></li>
        <li><label for="toggle-card-4">Fourth card</label></li>
        <li class="lowercase" style="margin-left: -485px"><br><br><label for="put-cards-down">(Click here to put cards down)</label></li>
      </ul>
      
      
      <input type="radio" name="cards" class="card-checkbox" id="toggle-card-1">
      
      <div class="card" id="portfolio" style="width: 18rem; vertical-align: center">
          <img class="card-img-top" src="./img/Trivia Game.png" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://kurtis-roberts.github.io/TriviaGame/" class="btn btn-primary">Trivia Game</a>
          </div>
      </div>
      
      
      <input type="radio" name="cards" class="card-checkbox" id="toggle-card-2">
      
      <div class="card" id="portfolio" style="width: 18rem; vertical-align: center">
          <img class="card-img-top" src="./img/Trivia Game.png" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://kurtis-roberts.github.io/TriviaGame/" class="btn btn-primary">Trivia Game</a>
          </div>
      </div>
      
      
      <input type="radio" name="cards" class="card-checkbox" id="toggle-card-3">
      
      <div class="card" id="portfolio" style="width: 18rem; vertical-align: center">
          <img class="card-img-top" src="./img/Trivia Game.png" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://kurtis-roberts.github.io/TriviaGame/" class="btn btn-primary">Trivia Game</a>
          </div>
      </div>
      
      
      <input type="radio" name="cards" class="card-checkbox" id="toggle-card-4">
      
      <div class="card" id="portfolio" style="width: 18rem; vertical-align: center">
          <img class="card-img-top" src="./img/Trivia Game.png" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://kurtis-roberts.github.io/TriviaGame/" class="btn btn-primary">Trivia Game</a>
          </div>
      </div>
      
      
      <input type="radio" name="cards" class="card-checkbox" id="put-cards-down">