<%- contentFor('hero') %>

      <ul id="nav">
        <li><label for="toggle-card-1">Trivia Game</label></li>
        <li><label for="toggle-card-2">DevSpot</label></li>
        <li><label for="toggle-card-3">RPG</label></li>
        <li><label for="toggle-card-4">SA Chores</label></li>
        <li class="lowercase" style="margin-left: -495px"><br><br><label for="put-cards-down">*CLICK HERE TO RESET CARD SELECTION*</label></li>
      </ul>
      
      <h1 id="pen-title">PORTFOLIO</h1>
      <div id="pen-description">(Select a project listed below)</div>
      
      <input type="radio" name="cards" class="card-checkbox" id="toggle-card-1">
      
      <div class="card" id="portfolio" style="width: 18rem; vertical-align: center">
          <img class="card-img-top" src="./img/Trivia Game.png" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">Trivia Game</h5>
          <p class="card-text">This is an application built with JavaScript and jQuery. It is designed with the Materialize Framework. Test your knowledge and enjoy the game!</p>
          <a target="_blank" href="https://kurtis-roberts.github.io/TriviaGame/" class="btn btn-primary">View Site</a>
          </div>
      </div>
      
      
      <input type="radio" name="cards" class="card-checkbox" id="toggle-card-2">
      
      <div class="card" id="portfolio" style="width: 18rem; vertical-align: center">
          <img class="card-img-top" src="./img/DevSpot.png" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">DevSpot</h5>
          <p class="card-text">DevSpot was a Bootcamp group final project we built in React. We built DevSpot so that developers have a place to connect and share ideas and job openings. My contribution was building out the classifieds section. Sign up and Connect with Me!</p>
          <a target="_blank" href="https://devspot1.herokuapp.com/" class="btn btn-primary">View Site</a>
          </div>
      </div>
      
      
      <input type="radio" name="cards" class="card-checkbox" id="toggle-card-3">
      
      <div class="card" id="portfolio" style="width: 18rem; vertical-align: center">
          <img class="card-img-top" src="./img/RPG.png" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">Starcraft Terminator RPG</h5>
          <p class="card-text">RPG's are a great way to pass time. This game has only one winner. Choose Carefully and see if you can defeat all the other characters!</p>
          <a target="_blank" href="https://kurtis-roberts.github.io/week-4-game/" class="btn btn-primary">View Site</a>
          </div>
      </div>
      
      
      <input type="radio" name="cards" class="card-checkbox" id="toggle-card-4">
      
      <div class="card" id="portfolio" style="width: 18rem; vertical-align: center">
          <img class="card-img-top" src="./img/SA Chores.png" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">SA Chores</h5>
          <p class="card-text">Designed to make parent's lives a bit easier when tracking chores. Features a Node.js backend which utilizes an SQL database and Oauth authentication.</p>
          <a target="_blank" href="http://project-sac.herokuapp.com/" class="btn btn-primary">View Site</a>
          </div>
      </div>
      
      
      <input type="radio" name="cards" class="card-checkbox" id="put-cards-down">




      <script type='text/javascript'>


        ///////////////////// REFRESH TO TOP OF PAGE ////////////////////
            window.onbeforeunload = function () {
            window.scrollTo(p);
          }

          $("body").find(".card").removeClass("visible");
            
        
          </script>