<%- contentFor('hero') %>

<div>
    <div class="card" style="width: 18rem; float: left;">
        <img class="card-img-top" src="./img/Trivia Game.png" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="https://kurtis-roberts.github.io/TriviaGame/" class="btn btn-primary">Trivia Game</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./img/Trivia Game.png" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="hhttps://kurtis-roberts.github.io/Group-Project/" class="btn btn-primary">Trivia Game</a>
        </div>
    </div>
</div>